{% extends "_includes/_skeleton.html" %}

{% block head_title %}{{ SITE.name }}{% endblock %}

{% block header_container %}
<div class="top-bar" id="main-top-bar">
    <div class="top-bar-title">
        <p class="brand"><a href="//{{ SITE.domain }}">{{ SITE.name }}</a></p>
    </div>
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="#item-1">Not a dropdown</a></li>
            <li>
                <a href="#">Is a Dropdown</a>
                <ul class="menu">
                    {% for count in range(1, 7) %}
                    <li><a href="#item-{{ count }}">Item {{ count }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block base_content %}
<div class="block">
    <div class="row large">
        <div class="small-12 columns">
            <h1>Topbar with dropdown</h1>

            <p>A basic unresponsive topbar with dropdown entries.</p>

            {% for count in range(1, 7) %}
            <h2 id="item-{{ count }}">Item {{ count }}</h2>
            {{ lipsum(n=3, html=True, min=20, max=30) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}